ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #535050;
    display: flex;
    justify-content: center;
    height: 90px;


  }
  li{
    margin-top: 30px;
    padding: 0 120px;
    color: #717070;
    font-size: 20px;
  }


  .text{
    display: flex;
    justify-content: center;
  }
  .text-img{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
  }
  img{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .new{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 30px;
 }
 body{
    background-color: rgb(49, 48, 48);
 }
 .green{
    color: rgb(36, 155, 15);
 }
 h1{
    color: rgb(19, 116, 2);
    font-size: 30px;
    font-weight: 150;
 }
 span{
    color: #717070;
 }
 .butn{
    width: 110px;
    height: 40px;
    background-color: rgb(49, 48, 48);
    border: 1px solid #717070;
    color: #717070;
    margin-left: 1350px;
 }
 .date{
    color: rgb(76, 53, 76);
    margin-left: 1150px;
    margin-top: 20px;
    border-bottom: 2px solid black;
    height: 30px;
 }